Django>=4.2
djangorestframework
psycopg[binary]
django-filter
drf-yasg  # API dokumentatsiya uchun (Swagger)
channels 
channels-redis
django-filter
django-modeltranslation
gunicorn
environs
dj-database-url
requests
whitenoise
